@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    margin-bottom: 120px;
}

.container-table {
    width: 95%;
    background-color: white;
    border-radius: 10px;
    margin: 50px;
    overflow: auto;
}

.table-header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-header label {
    font-size: 20px;
    font-weight: 600;
}

button {
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: none;
}

.button-field {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #016dcb;
    background-color: #016dcb;
}

.button-field:hover  {
    background-color: #0171d3;
}

input, textarea, select {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid #0171d3;
    border-radius: 8px;
}

.table-section {
    width: 100%;
    height: 600px;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    top: 0;
    background-color: #f6f9fc;
    color: #707070;
    font-size: 16px;
}
th, td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    text-align: center;
}

td image {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 15px;
    border: 5px solid #8b8b8b;
}

td .icon {
    height: 100%;
    width: 100%;
    padding: 20px;
    font-size: 18px;
}

tr:hover td {
    color: #0171d3;
    cursor: pointer;
    background-color: #f6f9fc;
}

.poUp-panel {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

.form-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-content form {
    display: flex;
    flex-direction: column;
}

.form-content h2,
.form-content form input,
.form-content form textarea,
.form-content form select {
    margin-bottom: 16px;
}

.form-content form button {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    background-color: #016dcb;
}

.column {
    display: flex;
    justify-content: space-between;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-content.product {
    width: 600px;
}

textarea {
    resize: none;
}

.select-option {
    position: relative;
}

.select-option input {
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.select-box {
    width: 100%;
}

.content-box {
    background-color: #fff;
    position: absolute;
    border-radius: 8px;
    border: 1px solid;
    padding: 0 10px;
    margin: 0 10px 20px 10px;
    z-index: 2;
    display: none;
}

.options {
    margin-top: 10px;
    max-height: 150px;
    overflow-y: auto;
    padding: 0;
}

.options li {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.select-box.active .content-box{
    display: block;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #016dcb;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.form-content label {
    margin: 10px;
}

@media screen and (max-width: 680px) {
    .container-table {
        margin: 20px;
    }

    .table-header, .table-section {
        min-width: 600px;
    }

    table {
        table-layout: auto;
    }

    .form-content,
    .form-content.product {
        width: 90%;
    }

    .form-content.product {
        height: 60%;
        overflow-y: scroll;
    }

    .column {
        display: block;
    }

    .content-box {
        position: relative !important;
    }
}

